header {
    background: #4a79bf;
    min-height: 730px;
}
body:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0px;
    bottom: -1500px;
    left: 50%;
    border-left: 2px dotted #444; 

}
