header {
    background: #4a79bf;
    min-height: 730px;
}
body:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 1030px;
    bottom: -1500px;
    left: 50%;
    border-left: 2px dotted #444;

}
.onemorething{
background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0.46, #040421),
	color-stop(1, #858585)
);
background-image: -o-linear-gradient(bottom, #040421 46%, #858585 100%);
background-image: -moz-linear-gradient(bottom, #040421 46%, #858585 100%);
background-image: -webkit-linear-gradient(bottom, #040421 46%, #858585 100%);
background-image: -ms-linear-gradient(bottom, #040421 46%, #858585 100%);
background-image: linear-gradient(to bottom, #040421 46%, #858585 100%);

color:#fff;
}

.featured_section {
  text-align: center;
  background: #fff;

}
